# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Taro
.temp/
.rn_temp/

# logs
logs
*.log

# testing
/coverage

# cache
.eslintcache
.stylelintcache
.swc/
web/dist
